*{
    box-sizing:border-box;
}

.container{
    padding:25px;

}

.logo{
    color:white;
    font-family: Poppins;
    font-size:50px;
    margin-top: 30px;
    margin-right: 1rem;
}

@media(min-width:392px){
    .row{

        display:flex;
        flex-wrap:wrap;
        margin-right:-15px;
        margin-left:-15px;
    }
}

/* old

@media(min-width: 576px){
} */

@media(min-width: 850px){
    
    .col{
        flex: 0 40%;
        max-width:40%;   
    }
}

@media(min-width: 1086px){
    .col-info{
        flex:0 10%;
        max-width:100%;
        padding-left:15%;
    }
}


.infos{
    color:white;
    font-family:Poppins;
    font-size:20px;
    margin-top:20px;
    text-align:left;
    
    margin-right:3rem;
}

.desc{
    color:#646771;
    text-align:left;
    font-size:13px;
    font-family:Poppins;
    line-height: 25px;
    font-weight:bold;
    
}

.li{
    font-size:12px;
    line-height:20px;
    font-family:Poppins;
    color:#646771;
    margin-top:10px;
    font-weight:bold;
    transition: 0.3s;
    
}
.li:last-child{
    margin-bottom: 1rem;
}

.li:hover{
    cursor:pointer;
    color:#d7d7d7;
}

.img{
    width:40px;
    margin-right:10px;
    margin-top:20px;
    cursor: pointer;
}

@media(min-width:10px){
    .rodapepo{
        color:#646771;
        flex: 0 100%;
        font-family:Poppins;
        font-size:20px;
        font-weight:bold;
        line-height:30px;
        display:flex;
        flex-wrap:wrap;
        margin-right:-15px;
        margin-left:-15px;
    }
}

#row-rod{
    margin:15px;
    margin-top:30px;
    margin-bottom:-30px;
}

    .col-rod{
        display:flex;
        flex: 0 60%;
        max-width:60%;   
    }


@media(min-width: 1086px){
    .col-rod-info{
        display:flex;
        flex:0 40%;
        max-width:40%;
        float:right;

    }
}

.rodapepo{

    padding-bottom:10px;
    cursor:pointer;
    font-size: 0.9rem;
    transition: 0.3s;
}

.rodapepo:hover{
    color:#d7d7d7;
}

#logo{
    width:150px;
}