*{
    box-sizing:border-box;
}

.container{
    padding:25px;
}

@media(min-width:392px){
    .row{
        display:flex;
        flex-wrap:wrap;
        margin-right:-15px;
        margin-left:-15px;
    }
}

@media(min-width: 576px){
    .col{
        flex: 0 0 45%;
        max-width:40%;   
    }
}

@media(min-width: 576px){
    .col-info{
        flex: 0 0 30%;
        max-width:30%;   
    }
}

.logo{
    color:white;
    font-family: Poppins;
    font-size:50px;
    text-align:center;
    margin-top:20px;
}

.infos{
    color:white;
    font-family:Poppins;
    font-size:35px;
    margin-top:20px;
    text-align:center;
}

.desc{
    color:white;
    text-align:center;
    font-size:20px;
    font-family:Poppins;
    margin-top:5px;
    line-height: 25px;
}
