*{
    margin:0;
}

.header{
    background-color:rgba(10, 80, 60, 0);
    height:60px;
    position:fixed;
    width:100%;
}

.item{
    margin:20px;
    color:rgb(255, 255, 255);
    float:right;
    font-family:arial;
    font-weight:100;
}