*{
    margin:0;
}

.BotaoMenu{
    width:105px;
    height:40px;
    margin:10px;
    background-color:rgba(255, 255, 255, 0);
    outline:0;
    border: 1px solid white;
    border-radius:5px;
    padding:10px;
    float:right;
    transition: ease-in 0.1s; 
}

.BotaoMenu:hover{
    cursor:pointer;
    border:3px solid white;
}

.logar{
    color:white;
    font-family:Arial;
}